<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>

]>
<root id="-1">
  <home id="1054" key="48a5615c-61e0-433c-9888-a92465183c16" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-29T16:43:41" updateDate="2016-02-29T16:43:48" nodeName="Homepage" urlName="homepage" path="-1,1054" isDoc="" nodeType="1053" creatorName="Stijn Vanbossuyt" writerName="Stijn Vanbossuyt" writerID="0" template="1052" nodeTypeAlias="home" />
</root>